<!doctype html>
<title>{% block title %}{% endblock %} - PIC16B Website</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Housing Project Website</h1>
  <b></b>
  <ul>
    <li><a href="{{ url_for('ask') }}">Ask</a></li>
    <li><a href="{{ url_for('auth.main') }}">User</a></li>
      <li><a href="{{ url_for('main') }}">Main page</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>