{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Main page{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Welcome to our Housing Project Website!</p>

  <p>Housing sales have been a hit after covid. According to CNBC, sales in April 2021 were 33.9% higher than in April 2020. The supply of homes for sale at the end of April was down 20%. There were 1.16 million homes for sale, representing a 2.4-month supply at the current sales pace.
      High demand and rock-bottom supply will continue to push prices higher.
      The median price of an existing home sold in April was $341,600, an increase of 19.1% from April 2020. That is both the highest median price on record and the largest annual increase on record.
      Much of that large increase in the median price is due to the mix of homes that are selling. There is far more activity on the higher end of the market, where supply is more plentiful, and very
      little activity on the low end, where the shortage is most severe.</p>

  <p> As an example, sales of homes priced between $100,000 and $250,000 were unchanged from a year earlier. Sales of homes priced between $750,000 and $1 million rose 146% from a year earlier, and sales of homes over $1 million jumped 212%. </p>

  <p> Our Project: The differences between the demand in high-end homes and low-end ones prompt us to consider the social inequality in purchasing houses, especially in races. We also looked at the discussion of the overall US housing market. We tried to find what are the topics that people may discuss, and what are people’s common sentiments.
      Besides all the analysis part, we incorporated data in crime rates, city population, public high schools, housing locations, people’s budgets,
        longitude and latitude to shuffle our the ideal locations for people who wish to invest in houses.
      We have also added housing prices data from Zillow to predict future housing prices so that users could have a sense on how the house's future price would behave for investment purpose.  </p>


  <p>The first plot is the overall overview of how the house prices would change in California</p>

  <!-- <p>This website will teach us how to make a website using Python.  To do so, we need to use something called a web framework.  We have multiple options for this.  Two of the most popular options are Flask and Django.  We will be using Flask because it is simpler and easier to learn.  If you are doing a big project, you might find Django easier to manage.  Either way, the skills from one web framework are transferable to others, even though they may do things differently.</p>

  <p>A lot of the information here comes from the <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask documentation</a>, in particular the Quickstart and Tutorial sections.  You may want to give these a look if this this something you're interested in.</p>

  <p>Before we get too far into web development, it's important to understand what we will and will not cover.  This is a Python course, not a web development course, so we will not be able to cover all the important details for web development.  We could easily spend an entire course on web development.  In fact, courses at UCLA do!  (PIC 40A, for example.)  I will be prioritizing teaching what is necessary to create a website that can interface with the Python we've already learned.</p>

  <p>In particular, we will cover:</p>
  <ul>
      <li>Basic backend development - how to write code that will run on your own computer or server and respond to requests and information sent from a browser</li>
      <li>Interfacing with SQLite</li>
      <li>Basic information on creating sessions</li>
  </ul>
  <p>We will not cover (or at least, not in much detail):</p>
  <ul>
      <li>Web design - how to change how your website looks visually and make it look appealing</li>
      <li>Front end development - how to write code that will run on someone else's browser</li>
      <li>Web servers - how to actually make your website available to the world</li>
      <li>Security - how to do all of this safety</li>
  </ul>
  <p>In particular, after the next couple of discussions, we should know enough to make a website on our computer that we can access from our browser.  If you want to take this information and make a website out of it, great!  But <b>please be careful</b>.  There are <i>a lot</i> of ways for people to exploit insecure websites, and I don't know enough myself to teach you all the best safety practices.  I will point out potential issues as they arise in this demonstration, but you should be prepared to learn some more on your own if you want to make your website public.</p>

  <p>If you want to make an actual public website and want to learn more, feel free to reach out to me.  I can give more details and point you to good resources available online.</p> -->
  {%include "Cali_Housing_Trend.html" %}
  <p> This plot is the demonstration of California High School Ranking Overview</p>
  {%include "Cali_HighSchool_Ranking.html" %}

  <p>The first analysis part: Racial Inequality in Housing</p>
    <ul>
      <li>Races Compositions in Poverty and Total Population in California</li>
  </ul>
  <p>The first picture comes from data of California Races Composition in Poverty in 2018. </p>
  {%include "Poverty2018.html" %}
  <p>This picture comes from the population composition of California in 2018. </p>
  {%include "PopulationRaces.html" %}
  <p>Comparing these two graphs, we are able to see that compared to the composition in total population, white people and Asian people have a relatively low poverty composition whereas Hispanic or Latino(of any race) and people of Black have a relatively bigger composition in poverty.</p>

  <ul>
      <li>Races Income Distribution in California</li>
  </ul>
  {%include "IncomeRacesMean.html" %}
  <p>This graph shows the annual household income mean distribution of different races in California from 2013 to 2018.
      We can see that Races of White, White Non-Hispanic, Asian, Pacific Islanders have significantly higher annual incomes than other races in California.
      This income distribution corresponds to the trend identified earlier that these races of higher annual mean incomes have lower poverty compositions. </p>

  <ul>
      <li>Housing Prices Changes in Race-Popular Regions in California</li>
  </ul>
  {%include "HouseAsian.html" %}{%include "HouseBlack.html" %}{%include "HouseLatino.html" %}{%include "HouseNative.html" %}{%include "HouseWhite.html" %}

    <p> Comparing housing prices in places where each race has the highest composition, we can see that housing prices all go up in an upper ward trend. Nevertheless, housing prices differ across races. The highest housing price of Native American popular areas is around 700k, of Hispanic/Latino is 250k, of Black/African American is 1.5M, of White is 800k, of Asian is 2.5M. Still, in this setting, Hispanic/Latino displays a lower purchasing power.</p>

 <p>The second analysis part: Sentiments and Topic Modeling</p>
   <ul>
      <li>Frequent Words in Reddit “House” Discussion</li>
   </ul>
 <p> We web scraped the house discussion from Reddit from 2013 to 2021/2/1 and did a vast series of data cleaning and preparation on the text data. Then by the 1-word frequency word cloud picture according to word frequency appeared in discussions, we surprisingly find that words related to music appear such as “song”, “mix”, “track”. By the 2-word word cloud, besides music, we find words such as “french house”, “tech house”, “new house”.</p>
<img src="{{url_for('static', filename='freqhouse.png')}}" align="middle" />
<img src="{{url_for('static', filename='2gram.png')}}" align="middle" />

   <ul>
      <li>Sentiments in “House” and sub “House” Discussions</li>
  </ul>
 <p>We then looked at the distribution of different emotions in house discussions:</p>
 <p>We can see that Joy and Trust are the most frequent emotions, whereas disgust and surprise are the least frequent emotions.</p>
    <img src="{{url_for('static', filename='housesentiment.png')}}" align="middle" />
    <p> The first graph shows what are the words that appear in the sentiment of joy: we can see that when people discuss house with the emotion of joy, they mention “party”, “cheer”, “festival”. The second graph shows what are the adjective words that appear in the sentiment of “trust” in house discussions: they use words that are used in social relationships relating to houses, such as “recommend”, “advice”, “friend”, “hope”.</p>
  <img src="{{url_for('static', filename='housesentiment1.png')}}" align="middle" />
    <img src="{{url_for('static', filename='housesentiment2.png')}}" align="middle" />

  <p> Then we subset the overall house discussion datasets into smaller datasets by searching for keywords important in housing, including “buy”, “sell”, “race”, “price”. When we find sentiments for each subset of House discussions, different compositions of sentiments for each sub dataset appear. The bar graphs on the left show the frequency of each sentiment in each dataset. The word cloud pictures on the right are the frequent words in the top sentiment for each dataset. In terms of buying and selling, people reveal more joyfulness than sadness, which might correspond to the earlier part where there are trends of selling and buying. Relating to races and prices, people show the top sentiment of “trust”, and descriptive words in the “trust“ relate to supportive social relationships such as “embrace”, “friend” and also housing quality such as “guarantee”, “proof”, “good”.</p>
   <img src="{{url_for('static', filename='Race.png')}}" align="middle" /><img src="{{url_for('static', filename='Race1.png')}}" align="middle" />
   <img src="{{url_for('static', filename='price.png')}}" align="middle" /><img src="{{url_for('static', filename='price1.png')}}" align="middle" />
   <img src="{{url_for('static', filename='sell.png')}}" align="middle" /><img src="{{url_for('static', filename='sell1.png')}}" align="middle" />
   <img src="{{url_for('static', filename='buy.png')}}" align="middle" /><img src="{{url_for('static', filename='buy1.png')}}" align="middle" />

  <p>Topic Modeling in “House” Discussions </p>
  <p>We first do topic modeling in the overall house discussions. We may summarize the first topic as “life in house”, the second topic as “music”, the third topic as “mood”.</p>
 <img src="{{url_for('static', filename='frame1.png')}}" align="middle" />
<p>Then, when doing topic modeling under each sentiment we get from the overall house discussions, we have interesting topic modeling results in the following two sentiments: </p>
<ul>
      <li>Topic modeling by Sentiment Fear: the first topic may be related to houses equipments whereas the second topic is related to different types of houses. These two topics reveal that people may have negative feelings in either looking for houses decorations or experiencing different types of houses. The third topic is related to house tech and music.</li>
</ul>
 <img src="{{url_for('static', filename='framefear.png')}}" align="middle" />
<ul>
      <li>Topic modeling by Sentiment Disgust: twos topics all apear to be related to looking for houses and decorating houses. We surprisingly find there are positive words such as “looking good” and “looking new”. These two topics may reveal that people may have negative feelings in how to make the house look better and how to make the houses look better.</li>
</ul>
 <img src="{{url_for('static', filename='framedisgust.png')}}" align="middle" />


{% endblock %}
