{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Main page{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Welcome to our Housing Project Website!</p>

  <p>We have created a database gathering data from Zillow to predict future housing prices.</p>
  <!-- <p>This website will teach us how to make a website using Python.  To do so, we need to use something called a web framework.  We have multiple options for this.  Two of the most popular options are Flask and Django.  We will be using Flask because it is simpler and easier to learn.  If you are doing a big project, you might find Django easier to manage.  Either way, the skills from one web framework are transferable to others, even though they may do things differently.</p>

  <p>A lot of the information here comes from the <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask documentation</a>, in particular the Quickstart and Tutorial sections.  You may want to give these a look if this this something you're interested in.</p>

  <p>Before we get too far into web development, it's important to understand what we will and will not cover.  This is a Python course, not a web development course, so we will not be able to cover all the important details for web development.  We could easily spend an entire course on web development.  In fact, courses at UCLA do!  (PIC 40A, for example.)  I will be prioritizing teaching what is necessary to create a website that can interface with the Python we've already learned.</p>

  <p>In particular, we will cover:</p>
  <ul>
      <li>Basic backend development - how to write code that will run on your own computer or server and respond to requests and information sent from a browser</li>
      <li>Interfacing with SQLite</li>
      <li>Basic information on creating sessions</li>
  </ul>
  <p>We will not cover (or at least, not in much detail):</p>
  <ul>
      <li>Web design - how to change how your website looks visually and make it look appealing</li>
      <li>Front end development - how to write code that will run on someone else's browser</li>
      <li>Web servers - how to actually make your website available to the world</li>
      <li>Security - how to do all of this safety</li>
  </ul>
  <p>In particular, after the next couple of discussions, we should know enough to make a website on our computer that we can access from our browser.  If you want to take this information and make a website out of it, great!  But <b>please be careful</b>.  There are <i>a lot</i> of ways for people to exploit insecure websites, and I don't know enough myself to teach you all the best safety practices.  I will point out potential issues as they arise in this demonstration, but you should be prepared to learn some more on your own if you want to make your website public.</p>

  <p>If you want to make an actual public website and want to learn more, feel free to reach out to me.  I can give more details and point you to good resources available online.</p> -->
  {%include "Cali_Housing_Trend.html" %}  
  {%include "Cali_HighSchool_Ranking.html" %}
{% endblock %}
