<!-- {% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
      <label for="image">Please upload an image.</label>
      <input type="file" name="image" id="image">
      <input type="submit" value="Submit form">
  </form>
  {% if digit %}
  <br>
  Thanks for the image!  It looks like a {{digit}}.
  {% endif %}
  {% if error %}
  <br>
  Oh no, we couldn't use that file!  Please upload a 28 x 28 image.
  {% endif %}
{% endblock %} -->
