{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Ask{% endblock %}</h1>
{% endblock %}

{% block content %}


<form method="post">
 <label for="pic16b">How do you wish about the population density in your ideal housing location?
(scale:0&1-5, 1 means you wish to have the house in the most populated city,0 means you don't care)</label>
<br>
<input type="radio" name="Q1" id="1" value="1">
<label for="1">1</label>
<input type="radio" name="Q1" id="2" value="2">
<label for="2">2</label>
<input type="radio" name="Q1" id="3" value="3">
<label for="3">3</label>
<input type="radio" name="Q1" id="4" value="4">
<label for="4">4</label>
<input type="radio" name="Q1" id="5" value="5">
<label for="5">5</label>

        <br>

      <br>

      <label for="pic16b">How do you wish about the crime rate in your ideal housing location?
(scale:0&1-5, 5 means you wish to have the house in cities of lowest crime rate,0 means you don't care)</label>
<br>
<input type="radio" name="Q2" id="1" value="1">
<label for="1">1</label>
<input type="radio" name="Q2" id="2" value="2">
<label for="2">2</label>
<input type="radio" name="Q2" id="3" value="3">
<label for="3">3</label>
<input type="radio" name="Q2" id="4" value="4">
<label for="4">4</label>
<input type="radio" name="Q2" id="5" value="5">
<label for="5">5</label>

        <br>
        <br>


      <label for="pic16b">How do you wish about the population density in your ideal housing location?
(scale:0&1-5, 1 means you wish to have the house in the most populated city,0 means you don't care)</label>
<br>
      <input type="radio" name="Q3" id="1" value="1">
      <label for="1">1</label>
      <input type="radio" name="Q3" id="2" value="2">
      <label for="2">2</label>
      <input type="radio" name="Q3" id="3" value="3">
      <label for="3">3</label>
      <input type="radio" name="Q3" id="4" value="4">
      <label for="4">4</label>
      <input type="radio" name="Q3" id="5" value="5">
      <label for="5">5</label>





      <br>
      <br>
      <label for="pic16b">Where do you wish to have your ideal housing location?
(1: Northern California, 2: Southern California)</label>
      <input type="radio" name="Q4" id="1" value="1">
      <label for="1">1</label>
      <input type="radio" name="Q4" id="2" value="2">
      <label for="2">2</label>


      <br>
      <br>



        <br>
        <br>

<label for="name">What is your minimum budget for your ideal housing?</label>
    <input name="minb" id="minb">
    <br>
    <br>

<label for="name">What is your maximum budget for your ideal housing?</label>
      <input name="maxb" id="maxb">


 <br>
      <input type="submit" value="Submit form">
     </form>
 <br>
<br>

 <br>

  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Title</title>
  </head>
  <body>

  {% for table in tables %}
              {{titles[loop.index]}}
              {{ table|safe }}
  {% endfor %}
  </body>
  </html>

{% endblock %}
